#container {
  min-height: 700px;
  max-height: 1100px;
  min-width: 350px;
  max-width: 1900px;
  margin: 0 auto;
}
.loading {
  margin-top: 10em;
  text-align: center;
  color: gray;
}
.column {
    float: left;
    width: 50%;
}
